@model WebShop.Models.Cart.CartViewModel
<div class="table-responsive cart_info">
    <table class="table table-condensed">
        <thead>
            <tr class="cart_menu">
                <td class="image">Item</td>
                <td class="description"></td>
                <td class="price">Price</td>
                <td class="quantity">Quantity</td>
                <td class="total">Total</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {

                <tr>
                    <td class="cart_product">
                        <a href=""><img src="~/images/products/small//@item.Key.ImageUrl" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a asp-action="Details" asp-controller="Catalog" asp-route-id="@item.Key.Id">@item.Key.Name</a></h4>
                        <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price" data-price="@item.Key.Price">
                        <p>@(item.Key.Price.ToString("C"))</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a href="#" data-id="@item.Key.Id" class="cart_quantity_up"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="@item.Value" autocomplete="off" size="2">
                            <a href="#" data-id="@item.Key.Id" class="cart_quantity_down"> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price" data-price="@(item.Value * item.Key.Price)">@((item.Value * item.Key.Price).ToString("C"))</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href="#" data-id="@item.Key.Id"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }
            @{
                ViewData.TryGetValue("sumCart", out var sumObj);
            }

            @if ((@ViewBag.Checkout == true)&& (sumObj != null))
            {
                var sum = (decimal)sumObj;
                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td colspan="2">
                        <table class="table table-condensed total-result">
                            <tr>
                                <td>Cart Sub Total</td>
                                <td><span class="totalOrderSum">@sum.ToString("C")</span></td>
                            </tr>
                            <tr class="shipping-cost">
                                <td>Shipping Cost</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td><span class="totalOrderSum">@sum.ToString("C")</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
